<app-stats></app-stats>
<div class="users">
    <div class="users__container">
        <div class="users__container__header">
            <app-search
                [users]="usersPagination"
                (onSearch)="this.updateTable()"></app-search>
            <button class="users__container__header--button" (click)="createUser()">
                <fa-icon [icon]="faUser"></fa-icon> Nuevo usuario
            </button>
        </div>
        <div class="users__container__body">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Nombre completo</th>
                        <th>Posición</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tr>
                    <td colspan="3">
                        <div class="text-center m-5" *ngIf="loader">
                            <div class="spinner-border violet" role="status">
                                <span class="visually-hidden">Cargando...</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div *ngIf="unknowError" class="projects__container__body--error">
                            <h3>
                                <fa-icon [icon]="faExclamationCircle"></fa-icon> Ocurrio un error, comunicate con un administrador.
                            </h3>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="!loader">
                    <td colspan="2" *ngIf="this.usersPagination.data.length == 0">
                        <h3>
                            <fa-icon [icon]="faExclamationCircle" class="text-warning"></fa-icon> No hay usuarios disponibles.
                        </h3>
                    </td>
                </tr>
                <tbody *ngIf="!loader">
                    <tr *ngFor="let item of usersPagination.data">
                        <td>{{item.firstname | titlecase}} {{item.lastname | titlecase}}</td>
                        <td>{{item.position}}</td>
                        <td>
                            <div class="dropdown">
                                <button class="dropdown-toggle btn btn-index" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <fa-icon [icon]="faEllipsis"></fa-icon>
                                </button>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" (click)="updateItem(item)">
                                        <fa-icon [icon]="faPencil" class="text-primary"></fa-icon> Editar
                                    </a>
                                    <a class="dropdown-item" (click)="deleteItem(item)">
                                        <fa-icon [icon]="faTrash" class="text-danger"></fa-icon> Eliminar
                                    </a>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="users__container__footer" *ngIf="!loader">
            <app-pagination [pagination]="this.usersPagination"></app-pagination>
        </div>
    </div>
</div>