<div class="services">
    <div class="services__container">
        <h2 class="services__container--title">Servicios</h2>
        <div class="services__container__header">
            <app-search></app-search>
            <ng-container *ngIf="loader; else noLoader">
                <button class="services__container__header--button" [disabled]="loader">
                    <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon> Cargando...
                </button>
            </ng-container>
            <ng-template #noLoader>
                <button class="services__container__header--button" (click)="createService()">
                    <fa-icon [icon]="faLaptopCode"></fa-icon> Nuevo servicio
                </button>
            </ng-template>
            
        </div>
        <div class="services__container__body">
            <table class="table text-center">
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Opciones</td>
                    </tr>
                </thead>
                <tr>
                    <td colspan="2">
                        <div class="text-center m-5" *ngIf="loader">
                            <div class="spinner-border violet" role="status">
                                <span class="visually-hidden">Cargando...</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div *ngIf="unknowError" class="projects__container__body--error">
                            <h3>
                                <fa-icon [icon]="faExclamationCircle"></fa-icon> Ocurrio un error, comunicate con un administrador.
                            </h3>
                        </div>
                    </td>
                </tr>
                <tbody *ngIf="!loader">
                    <tr *ngFor="let item of servicesPagination.data">
                        <td>{{item.name}}</td>
                        <td>
                            <div class="dropdown">
                                <button class="dropdown-toggle btn btn-index" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <fa-icon [icon]="faEllipsis"></fa-icon>
                                </button>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" (click)="updateItem(item)">
                                        <fa-icon [icon]="faPencil" class="text-primary"></fa-icon> Editar
                                    </a>
                                    <a class="dropdown-item" (click)="deleteItem(item)">
                                        <fa-icon [icon]="faTrash" class="text-danger"></fa-icon> Eliminar
                                    </a>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>