<div class="sidebar">
    <div class="sidebar__container">
        <h5 class="sidebar__container--title">Altrion Sites</h5>
        <ul>
            <li>
                <button [routerLink]="['.']"> 
                    <fa-icon [icon]="faHouse"></fa-icon> Inicio
                </button>
            </li>
            <li>
                <button [routerLink]="['./dashboard/news']">
                    <fa-icon [icon]="faNewspaper"></fa-icon> Noticias
                </button>
            </li>
            <li>
                <button [routerLink]="['./dashboard/projects']">
                    <fa-icon [icon]="faCode"></fa-icon> Proyectos
                </button>
            </li>
        </ul>
        <app-footer></app-footer>
    </div>
</div>