<div class="modal-header">
    <h5 class="modal-title">{{this.modalTitle}}</h5>
    <button type="button" class="btn-close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
    <div class="text-center m-5" *ngIf="loading">
        <div class="spinner-border violet" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>
    <form *ngIf="!loading" [formGroup]="newsForm">
        <div class="form">
            <div class="form__item">
                <label for="title" *ngIf="this.newsToEdit">Título de la noticia</label>
                <input 
                    type="text"
                    id="title" 
                    placeholder="Título de la noticia" 
                    formControlName="title" 
                    class="form__item--input" 
                >
            </div>
            <div class="form__item">
                <label for="content" *ngIf="this.newsToEdit">Contenido de la noticia</label>
                <editor
                    apiKey="z770qe7e0ubzhodh4qj6b2k6t72qhchqbpnzhogcnuoqqebs"
                    tagName="content"
                    name="content"
                    formControlName="content"
                    [init]="{
                        height: 300,
                        menubar: true,
                        language: 'es',
                        placeholder: 'Contenido de la noticia',
                        plugins: [
                        'advlist autolink lists link image charmap print preview anchor',
                        'searchreplace visualblocks code fullscreen',
                        'insertdatetime media table paste code help wordcount'
                        ],
                        toolbar:
                        'undo redo | formatselect | bold italic backcolor | \
                        alignleft aligncenter alignright alignjustify | \
                        bullist numlist outdent indent | removeformat | help'
                    }"
                ></editor>
            </div>
            <div class="form__item">
                <label for="link" *ngIf="this.newsToEdit">Enlace de la noticia</label>
                <input 
                    type="text"
                    formControlName="link"
                    name="link"
                    placeholder="Link de la noticia" 
                    class="form__item--input"
                >
            </div>
            <div class="form__item">
                <label for="visible" *ngIf="this.newsToEdit">Visibilidad de la noticia</label>
                <select class="form__item--input" formControlName="visible">
                    <option value="1">Noticia visible</option>
                    <option value="0">Noticia no visible</option>
                </select>
            </div>
            <div class="form__item">
                <label for="image" *ngIf="this.newsToEdit">Imagen de la noticia</label>
                <input 
                    type="file"
                    formControlName="image"
                    name="image"
                    class="form__item--input"
                    (change)="onFileChange($event)">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn form--btn" (click)="save()" [disabled]="this.newsForm.invalid">{{this.modalBtnTitle}}</button>
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
</div>