@import './../../../../../styles.scss';
.bg-navbar {
    background-color: #f2f2f2;
}

.dropdown-item:active{
    background-color: $secondary-color !important;
    color: #fff;
}

.dropdown-menu{
    background-color: $bg-color !important;
}

.dropdown-item{
    color: #fff
}
.dropdown-item:hover{
    background-color: $secondary-color !important;
    color: #f2f2f2;
}

.dropdown-item:focus{
    color: #f2f2f2 !important;
}