<section class="tasks">
    <div class="tasks__container">
        <h1 class="tasks__container--title">Tareas</h1>
        <p class="tasks__container--text">Hey {{this.getUser().firstname | titlecase}}! aquí están las tareas que tienes asignadas.</p>
        <table class="table text-center">
            <thead>
                <tr>
                    <th>Ver</th>
                    <th>Imágenes</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tr>
                <td colspan="3">
                    <div class="text-center m-5" *ngIf="loader">
                        <div class="spinner-border violet" role="status">
                            <span class="visually-hidden">Cargando...</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tbody *ngIf="!loader">
                <tr *ngFor="let item of tasks.data">
                    <td>
                        <a (click)="viewTask(item)" class="view-icon">
                            <fa-icon [icon]="faEye"></fa-icon>
                        </a>
                    </td>
                    <td>
                        <p>Imágenes ({{item.images}})</p>
                    </td>
                    <td>
                        <ng-container *ngIf="item.complete === 1; else pending">
                            <p ngbTooltip="Completado">
                                <fa-icon class="text-success" [icon]="faCircleCheck"></fa-icon>
                            </p>
                        </ng-container>
                        <ng-template #pending ngbTooltip="Pendiente">
                            <p ngbTooltip="Pendiente">
                                <fa-icon class="text-warning" [icon]="faCircleExclamation"></fa-icon>
                            </p>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="!loader">
            <app-pagination [pagination]="this.tasks"></app-pagination>
        </div>
        <div class="tasks__container--empty" *ngIf="!loader && tasks.data.length <= 0">
            <h3><fa-icon class="text-danger" [icon]="faCircleExclamation"></fa-icon> No tienes ninguna tarea asignada por el momento.</h3>
        </div>
    </div>
</section>