<div class="modal-header">
    <h5 class="modal-title">{{this.modalTitle}}</h5>
    <button type="button" class="btn-close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
    <div class="text-center m-5" *ngIf="loading">
        <div class="spinner-border violet" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>
    <form *ngIf="!loading" [formGroup]="projectForm">
        <div class="form">
            <div class="form__item">
                <input 
                    type="text"
                    id="name" 
                    placeholder="Título del proyecto" 
                    formControlName="name" 
                    class="form__item--input" 
                >
            </div>
            <div class="form__item">
                <editor
                    apiKey="z770qe7e0ubzhodh4qj6b2k6t72qhchqbpnzhogcnuoqqebs"
                    tagName="description"
                    name="description"
                    formControlName="description"
                    [init]="{
                        height: 300,
                        menubar: true,
                        language: 'es',
                        placeholder: 'Descripción del proyecto',
                        plugins: [
                        'advlist autolink lists link image charmap print preview anchor',
                        'searchreplace visualblocks code fullscreen',
                        'insertdatetime media table paste code help wordcount'
                        ],
                        toolbar:
                        'undo redo | formatselect | bold italic backcolor | \
                        alignleft aligncenter alignright alignjustify | \
                        bullist numlist outdent indent | removeformat | help'
                    }"
                ></editor>
            </div>
            <div class="form__item">
                <input 
                    type="text"
                    formControlName="link"
                    name="link"
                    placeholder="Link del proyecto" 
                    class="form__item--input"
                >
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn form--btn" (click)="save()" [disabled]="this.projectForm.invalid">{{this.modalBtnTitle}}</button>
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
</div>