<div class="projects">
    <div class="projects__container">
        <h2 class="projects__container--title">Proyectos</h2>
        <div class="projects__container__header">
            <app-search
                [projects]="projectsPagination"
                (onSearch)="this.updateTable()"></app-search>
            <button class="projects__container__header--button" (click)="createProject()">
                <fa-icon [icon]="faCode"></fa-icon> Nuevo proyecto
            </button>
        </div>
        <div class="projects__container__body">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Imágenes</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tr>
                    <td colspan="3">
                        <div class="text-center m-5" *ngIf="loader">
                            <div class="spinner-border violet" role="status">
                                <span class="visually-hidden">Cargando...</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div *ngIf="unknowError" class="projects__container__body--error">
                            <h3>
                                <fa-icon [icon]="faExclamationCircle"></fa-icon> Ocurrio un error, comunicate con un administrador.
                            </h3>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="!loader">
                    <td colspan="3" *ngIf="this.projectsPagination.data.length == 0">
                        <h3>
                            <fa-icon [icon]="faExclamationCircle" class="text-warning"></fa-icon> No hay proyectos disponibles.
                        </h3>
                    </td>
                </tr>
                <tbody *ngIf="!loader && !unknowError">
                    <tr *ngFor="let item of projectsPagination.data">
                        <td class="title">
                            {{item.name}}
                        </td>
                        <td>
                            <a class="link" [routerLink]="['./images/', item.id]">
                                Imágenes ({{item.images}})
                            </a>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="dropdown-toggle btn btn-index" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <fa-icon [icon]="faEllipsis"></fa-icon>
                                </button>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" (click)="updateItem(item)">
                                        <fa-icon [icon]="faPencil" class="text-primary"></fa-icon> Editar
                                    </a>
                                    <a class="dropdown-item" (click)="deleteItem(item)">
                                        <fa-icon [icon]="faTrash" class="text-danger"></fa-icon> Eliminar
                                    </a>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="projects__container__footer" *ngIf="!loader">
            <app-pagination [pagination]="this.projectsPagination"></app-pagination>
        </div>
    </div>
</div>