@import './../../../../../styles.scss';
.dashboard__body{
    margin-left: 200px;
    background-color: $bg-color;
    color: #fff;
    height: 100%;
    position: relative;
}

@media screen and (max-width: 770px) {
    .dashboard__body{
        margin: 0;
    }
}